<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">

<servlet>
<servlet-name>Servletbonjour</servlet-name>
<servlet-class>servlets.Servletbonjour</servlet-class>
<init-param>
<param-name>message</param-name>
<param-value>BONJOUR</param-value>
</init-param>
<init-param>
<param-name>rep</param-name>
<param-value>5</param-value>
</init-param>
</servlet>
<servlet-mapping>
<servlet-name>Servletbonjour</servlet-name>
<url-pattern>/Bonjours</url-pattern>
</servlet-mapping>


<servlet>
<servlet-name>Connexion_Servlet</servlet-name>
<servlet-class>servlets.Connexion_Servlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>Connexion_Servlet</servlet-name>
<url-pattern>/Connexion</url-pattern>
</servlet-mapping>


<servlet>
<servlet-name>Is_online_Servlet</servlet-name>
<servlet-class>servlets.Is_online_Servlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>Is_online_Servlet</servlet-name>
<url-pattern>/Online</url-pattern>
</servlet-mapping>


<servlet>
<servlet-name>Inscription_Servlet</servlet-name>
<servlet-class>servlets.Inscription_Servlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>Inscription_Servlet</servlet-name>
<url-pattern>/Inscription</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>refreche_Servlet</servlet-name>
<servlet-class>servlets.refreche_Servlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>refreche_Servlet</servlet-name>
<url-pattern>/Refreche</url-pattern>
</servlet-mapping>

</web-app>